@import "tailwindcss";

@theme {
  --font-bebas: var(--font-bebas), sans-serif;
  --font-outfit: var(--font-outfit), sans-serif;

  --color-brand-blue: #02005e;
  --color-brand-cyan: #06b6d4;
  /* cyan-500 equivalent but punchier */
  --color-brand-pink: #f43f5e;
  /* rose-500 */
  --color-brand-yellow: #fbbf24;
  /* amber-400 */
}

:root {
  --background: #02005e;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas);
}